<nav class="navbar navbar-expand-md navbar-dark">
  <a [routerLink]="[ '/' ]" class="navbar-brand gui-logo">FreeShop</a>
  <button (click)="collapsed = !collapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav d-none d-md-flex">
    <li class="nav-item">
        <!-- <a routerLink="/enfant" >
          link to user component
        </a> -->
      <a class="nav-link" [routerLink]="['/enfant']">Enfant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/femme']">Femme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/homme']">Homme</a>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div *ngIf="collapsed">
      <ul class="row nav nav-tabs" id="myTab" role="tablist">
        <li class="col-4 nav-item">
          <a [routerLink]="['/enfant']" class="nav-link" id="enfant-tab" data-toggle="tab" role="tab" aria-controls="enfant" aria-selected="true">ENFANT</a>
        </li>
        <li class="col-4 nav-item">
          <a [routerLink]="['/femme']" class="nav-link" id="femme-tab" data-toggle="tab" role="tab" aria-controls="femme" aria-selected="false">FEMME</a>
        </li>
        <li class="col-4 nav-item">
          <a [routerLink]="['/homme']" class="nav-link" id="homme-tab" data-toggle="tab" role="tab" aria-controls="homme" aria-selected="false">HOMME</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="enfant" role="tabpanel" aria-labelledby="enfant-tab">
          <app-sidebar></app-sidebar>
        </div>
        <div class="tab-pane fade" id="femme" role="tabpanel" aria-labelledby="femme-tab">
            <app-sidebar></app-sidebar>
        </div>
        <div class="tab-pane fade" id="homme" role="tabpanel" aria-labelledby="homme-tab">
          <app-sidebar></app-sidebar>            
        </div>
      </div>
    </div>
  </div>
  
  <div>
      <span style="font-size:1.5rem">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </span>
      <span class="badge badge-dark" style="position: absolute; display: block; top: 50%; padding: 0; margin-left: 5px;">{{cartService.getNbArticleInCart()}}</span>

  </div>
  <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{selectedCountry.flag}}" width="15" alt="{{selectedCountry.name}}">
        <span>
        {{selectedCountry.name}}
        </span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button *ngFor="let country of countries" (click)="selectCounty(country)" class="dropdown-item" type="button">
            <img src="{{country.flag}}" width="15" alt="{{country.name}}">
            <span>{{country.name}}</span>
        </button>
      </div>
    </div>
</nav>

<div class="sub-nav d-none d-md-flex">
  <button [routerLink]="['/enfant/nouveautes']" type="button" class="btn btn-outline-light bne-btn">Nouveautés</button>
  <!-- <button [routerLink]="['/enfant/chaussures']" routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }" type="button" class="btn btn-outline-light bne-btn">Chaussures</button> -->
  <button [routerLink]="['/enfant/chaussures']" type="button" class="btn btn-outline-light bne-btn">Chaussures</button>
  <button [routerLink]="['/enfant/accessoires']" type="button" class="btn btn-outline-light bne-btn">Accessoires</button>
  <button [routerLink]="['/enfant/vetements']" type="button" class="btn btn-outline-light bne-btn">Vêtements</button>
  <button [routerLink]="['/enfant/sport']" type="button" class="btn btn-outline-light bne-btn">Sport</button>
  <button [routerLink]="['/enfant/promos']" type="button" class="btn btn-outline-light bne-btn">Promos</button>
</div>