<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center bg-image">
      <div class="container baseline">
        <h1 class="display-4">HOMME</h1>
        <p>
          <a class="btn btn-secondary">Shopper</a>
        </p>
      </div>
    </div>
    <section>
      <div *ngIf="categorieArticle && categorieArticle.length > 0; else elseBlock">
        <app-articles></app-articles>
      </div>
      <ng-template #elseBlock>
        <div class="card-group">
          <div class="card" (click)="gotoArticleCategorie('vetements')">
            <img class="card-img-top" src="https://content.asos-media.com/-/media/homepages/mw/2019/06/24/global-animal-print-moment2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card" (click)="gotoArticleCategorie('accessoires')">
            <img class="card-img-top" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/home/2019-06/21/mobile/Man_Calzado.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card" (click)="gotoArticleCategorie('costumes')">
            <img class="card-img-top" src="https://content.asos-media.com/-/media/homepages/mw/2019/06/24/global-animal-print-moment2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
      </ng-template>
      
    </section>
  </main>