<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="">Vêtements <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Nouveautés</a>
  </li>
  <li class="nav-item"><a href="" class="nav-link">Collection</a></li>
  <li class="nav-item"><a href="" class="nav-link">Accessoires</a></li>
  <li class="nav-item"><a href="" class="nav-link">Jeans</a></li>
  <li class="nav-item"><a href="" class="nav-link">Costumes</a></li>
  <li class="nav-item"><a href="" class="nav-link">Tendances</a></li>
  <li class="nav-item">
    <a class="nav-link" href="">shop</a>
  </li>
</ul>