<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron text-center bg-image">
    <div class="container baseline">
      <h1 class="display-4">Bienvenue sur Free Shop !</h1>
      <p>Faites vous plaisir !</p>
      <p>
        <a class="btn btn-outline-secondary" href="#">ENFANT</a>
        <a class="btn btn-outline-secondary" href="#">FEMME</a>
        <a class="btn btn-outline-secondary" href="#">HOMME</a>
      </p>
      
    </div>
  </div>

</main>